
.main_div{
  background-color: aquamarine;
  height: 300px;
  width: 450px;
  border: 2px solid black;
  border-radius: 20px;
  margin: auto;
  margin-top: 150px;
  align-items: center;
 
}
.main_div:hover{
  background-color:blanchedalmond;
}
.center_div{
  align-items: center;
  
}
.todo_style
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.we{
  margin-right: 20px;
  background-color: red;
  color: black;
  
}
.rt{
 margin-left: 140px;
}
.uu{
  margin-left: 80px;
}
.wow{
  background-color:blueviolet;
  border-radius: 22px;
  border: 2px dotted black;
  
}
.wow:hover{cursor: pointer;
  

}