
.main_div{
  background-color: aquamarine;
  height: 300px;
  width: 450px;
  border: 2px solid black;
  border-radius: 20px;
  margin: auto;
  margin-top: 150px;
  align-items: center;
 
  

 
}
/* .main_div:hover{
  background-color:blanchedalmond;
  box-shadow: 30px 20px  ;
  opacity: .5
  ;
} */
.center_div{
  align-items: center;
  
}
.todo_style
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.we{
  margin-right: 20px;
  background-color: red;
  color: black;
  
}
.rt{
 margin-left: 140px;
}
.uu{
  margin-left: 80px;
}
.wow{
  background-color:blueviolet;
  border-radius: 22px;
  border: 2px dotted black;

  
}
.wow:hover{
  cursor: pointer;
  background-color: white;
  color: blue;
}

.st_button{
  background-color:hotpink ;

}
.nd_button{
  background-color:hotpink ;
}

.all{
  border: 2px solid black;
  width: 300px;
  background-color: yellowgreen;
  border-radius: 10px;
  margin-left: 600px;
}
.ttoi{
  margin-right: 100px;
}
.effect{
  margin-top: 100px;
}